version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 5
    automerge: true
    automerge-type: "auto"
    commit-message:
      prefix: "chore(deps)"
  - package-ecosystem: "npm"
    directory: "/backend"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 5
    automerge: true
    automerge-type: "auto"
    commit-message:
      prefix: "chore(deps)"
